.vscode/
**/.idea/
src/
samples/
scripts/
android/build/
android/gradle/wrapper/
android/gradlew*
images/
docs/
*.iml
tsconfig.json
tslint.json
/ios/RNVkontakteLogin.xcodeproj/xcuserdata/
/ios/RNVkontakteLogin.xcodeproj/project.xcworkspace/
/docs/generated/
